:root {
    --green-primary: hsl(181, 29%, 51%);
    --light-grayish-bg: hsl(185, 58%, 96%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish: hsl(180, 14%, 20%);
    --white: hsl(0, 0%, 100%);
    --box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-grayish-bg);
    font-family: "Spartan";
    margin: 0;
    padding: 0;
}

.header__mobile--bg {
    width: 100%;
    height: 100%;
    background-color: var(--green-primary);
}

.header__desktop--bg {
    display: none;
}

h1 {
    color: var(--green-primary);
    margin: 3rem;
    font-size: 42px;
}

.filter__box {
    display: none;   
}

.filter__box--visible {
    display: flex;
    border-radius: .3rem;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    margin: 3rem 1.8rem;
    justify-content: space-between;
    padding: 1.5rem;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
}

.clear__button {
    border: none;
    background-color: transparent;
    color: var(--dark-grayish-cyan);
    cursor: pointer;
    font-size: 14px;
    font-family: "Spartan";
    font-weight: 700;
}

.clear__button:hover {
    color: var(--green-primary);
    text-decoration: underline;
}

.filter__container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.filter__label {
    border: none;
    background-color: var(--light-grayish-bg);
    color: var(--green-primary);
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    font-family: "Spartan";
    font-weight: 500;
    padding-right: .2rem;
    padding: .7rem;
    cursor: pointer;
}

.remove__icon {
    border: none;
    background-color: var(--green-primary);
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    padding: .7rem;
    pointer-events: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.87rem;
    margin: 1.8rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: .3rem;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    margin: .7rem .3rem;
}

.card--hidden {
    display: none;
}

.card--featured {
    border-left: solid .5rem var(--green-primary);
}

.company__logo {
    margin-top: -1.87rem;
    height: 4.3rem;
    padding-left: 1.25rem;
}

.details__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: solid 0.06px var(--dark-grayish-cyan);
    margin: .5rem 1.2rem;
    padding-bottom: 1.2rem;
}

.company__name {
    font-weight: 700;
    color: var(--green-primary);
    text-align: start;
}

.badge {
    background-color: var(--very-dark-grayish);
    border-radius: 3rem;
    color: var(--white);
    padding: .6rem;
    font-weight: 500;
    margin-left: 1rem;
    line-height: 14px;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.badge--new {
    background-color: var(--green-primary);
}

.job__position {
    font-weight: 700;
    color: var(--very-dark-grayish);
    flex-basis: 100%;
}

.job__position:hover {
    color: var(--green-primary);
    cursor: pointer;
}

.post__details {
    font-weight: 300;
    color: var(--dark-grayish-cyan);
    font-size: 14px;
    margin-right: .6rem;
}

.labels__container {
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
    justify-content: flex-start;
    align-content: space-around;
    gap: .8rem;
    margin: .8rem;
}

.label {
    border: none;
    background-color: var(--light-grayish-bg);
    color: var(--green-primary);
    border-radius: .3rem;
    font-family: "Spartan";
    font-weight: 500;
    padding: .7rem;
}

.filter__label:hover, .label:hover {
    color: var(--light-grayish-bg);
    background-color: var(--green-primary);
    cursor: pointer;
}

.attribution {
    display: flex;
    justify-content: center;
    margin: 3rem;
    font-size: 22px;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

.attribution {
    color: var(--dark-grayish-cyan);
    text-align: center;
    margin: 15px;
    font-size: 14px;
}

.attribution > a {
    color: var(--green-primary);
    margin-left: 10px;
}

@media only screen and (min-width: 720px) {
    .header__mobile--bg {
        display: none;
    }

    .header__desktop--bg {
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--green-primary);
    }

    h1, .container{
        margin: 2.4rem;
    }
    
    .filter__box--visible {
        padding: 2rem;
        margin: 2.4rem;
    }
    
    .card {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .logo__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .company__logo {
        margin: 0;
        height: 6rem;
    }

    .details__container {
        border-bottom: none;
        max-width: max-content;
        padding: 1rem;
    }

    .labels__container {
        gap: .5rem;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .attribution {
        font-size: 20px;
    }

    .attribution > a {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    h1, .container, .filter__box--visible { 
        margin: 5rem;
    }

    .card {
        grid-template-columns: 1fr 2fr 3fr;
    }

    .logo__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .company__logo {
        height: 6.8rem;
        margin-left: 2.8rem;
    }

    .labels__container {
        justify-content: flex-end;
        margin: 2rem;
    }

    .details__container {
        border-bottom: none;
        max-width: max-content;
        padding: 1rem;
    }

    .company__name, .job__position, .post__details {
        margin-block-start: .6rem;
        margin-block-end: .6rem;
    }
    
    .label {
        font-size: 1rem;
    }
}